:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #c57600;
}


@font-face {
  font-family: 'FontULike';
  /* Choose a name for your font family */
  src: url('./assets/opensans-regular-webfont.woff') format('woff2');
  /* url('./assets/fonts/MyCustomFont-Regular.woff') format('woff'), */
  /* url('./assets/fonts/MyCustomFont-Regular.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontILike';
  src: url('./assets/josefinsans-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'FontULike', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;              /* vertical scrollbar width */
  height: 10px;             /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: #000000;       /* track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
  border: 2px solid #ffffff; /* gap effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* hover shade of primary */
}

/* For Firefox */
* {
  scrollbar-width: thin;               /* thin | auto | none */
  scrollbar-color: var(--primary-color) #ffffff;
}